In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_excel("./data/数据源.xlsx",header=2)
data  #查看data这个值 若显示查看失败请改成print(data)  下列一些值相同

,序号,审核日期,审核人,审批业务类型,变更类型,所属省区,所属签约机构,项目编号,产品线,我方签约主体,...,是,低,（如有）,是否需要审批,是.1,清晰,是.2,意义）,备注,Unnamed: 58
0,1,2022-07-01,张三,合同变更,2.赠送20%,江苏区,江苏,SU2112290001,NCCloud,江苏区,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3735200.0
1,2,2022-07-01,张三,合同变更,3.退换货15%,江苏区,常州,CH2206250001,云业务,江苏区,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-29200.0
2,3,2022-07-01,张三,项目会签,NaN,江苏区,无锡,WX2207010003,云业务,江苏区,...,NaN,低,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-27800.0
3,250,2022-07-20,李四,项目会签,NaN,浙江区,宁波,NB2207140002,NC,浙江区,...,否,低,否,否,NaN,NaN,NaN,NaN,评估状态：通过 审批意见：总成交价为60000元，优惠结算后整体利润率22.5%，NC续签标...,12200.0
4,251,2022-07-20,李四,合同调整,NaN,浙江区,宁波,NB2207180003,NC,浙江区,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,系统服务期时间调整，其他不变,NaN
5,252,2022-07-20,赵无,项目会签,NaN,浙江区,浙江,HZ2207190003,云业务,浙江区,...,否,低,否,否,NaN,NaN,NaN,NaN,评估状态：通过 审批意见：标准合同，产品总成交价145000，整体利润率73.55%,97200.0
6,253,2022-07-20,赵无,项目会签,NaN,浙江区,浙江,HZ2207200001,云业务,浙江区,...,否,低,否,否,NaN,NaN,NaN,NaN,评估状态：通过 审批意见：总成交价90000元，整体利润率74.78%，本次通过。,42200.0

In [3]:
data.columns  #查看列名

Index(['序号', '审核日期', '审核人', '审批业务类型', '变更类型', '所属省区', '所属签约机构', '项目编号', '产品线',
       '我方签约主体', '客户方签约主体', '合同类型', '合同模板', '合同金额', '项目整体\n利润率', '项目利润',
       '是否优惠结算', '是否亏损', '亏损金额', '产品\n金额', '产品折扣', '云产品\n金额', '云产品\n折扣',
       '服务金额', '服务折扣', 'M产品金额', 'M产品折扣', '第三方产品\n金额', '第三方产品\n折扣', 'A金额\n',
       'A人天折扣', 'B金额\n', 'B折扣', '增值服务金额', '增值服务折扣', '咨询金额', '咨询人天单价', 'C',
       'C评估', 'C差异', 'C差异比例', 'D', '评估\nD', 'D差异', 'D天差异比例', '付款方式', '是否0首付',
       '是否有质保金（如有填写比例）', '是否有履约保证金（如有填写比例）', '是', '低', '（如有）', '是否需要审批', '是.1',
       '清晰', '是.2', '意义）', '备注', 'Unnamed: 58'],
      dtype='object')

### 计算产品类型统计

In [4]:
value1=pd.DataFrame()
value1["所属大区"]=data["所属省区"]
value1["自有产品许可类"]=data[["产品\n金额","服务金额"]].apply(lambda x:(x["产品\n金额"]+x["服务金额"])/10000,axis=1) #计算出自有产品许可类
value1["自有产品订阅类"]=data["云产品\n金额"]/10000
value1["交付类"]=data[["A金额\n","B金额\n","增值服务金额"]].apply(lambda x:(x["A金额\n"]+x["B金额\n"]+x["增值服务金额"])/10000,axis=1) #计算出自有产品交付类
value1["OEM产品"]=data["M产品金额"]/10000
value1["第三方产品"]=data["第三方产品\n金额"]/10000
value1

  所属大区  自有产品许可类  自有产品订阅类     交付类   OEM产品   第三方产品
0  江苏区   0.0003      2.7  1.5455  0.4565  0.7777
1  江苏区   0.0003      2.7  1.5455  0.4565  0.7777
2  江苏区   0.0003      2.7  1.5455  0.4565  0.7777
3  浙江区   0.0003      2.0  1.5455  0.4565  0.7777
4  浙江区   0.0003      2.0  1.5455  0.4565  0.7777
5  浙江区   0.0003      2.0  1.5455  0.4565  0.7777
6  浙江区   0.0003      2.0  1.5455  0.4565  0.7777

In [5]:
value2=value1.groupby(value1["所属大区"]).sum()  #按照所属大区这一列分组合并
value2

      自有产品许可类  自有产品订阅类     交付类   OEM产品   第三方产品
所属大区
江苏区    0.0009      8.1  4.6365  1.3695  2.3331
浙江区    0.0012      8.0  6.1820  1.8260  3.1108

In [6]:
value2["小计"] = value2[['自有产品许可类','自有产品订阅类','交付类','OEM产品','第三方产品']].sum(axis =1)  #添加行级合并计算
value2.loc["总计"] = value2[['自有产品许可类','自有产品订阅类','交付类','OEM产品','第三方产品','小计']].sum(axis =0)  #添加列级合并计算
value2

      自有产品许可类  自有产品订阅类      交付类   OEM产品   第三方产品     小计
所属大区
江苏区    0.0009      8.1   4.6365  1.3695  2.3331  16.44
浙江区    0.0012      8.0   6.1820  1.8260  3.1108  19.12
总计     0.0021     16.1  10.8185  3.1955  5.4439  35.56

In [7]:
#增加序号一列，并且保存
df = value2.reset_index()
df.index=df.index+1
df.index.name="序号"
df.to_excel("./data/产品类型统计.xlsx")

### 计算亏损分段统计

In [8]:
value11=pd.DataFrame()
value11["所属大区"]=data["所属省区"]
value11["亏损金额"]=data["亏损金额"]/10000
value11

  所属大区   亏损金额
0  江苏区  0.951
1  江苏区  0.951
2  江苏区  0.951
3  浙江区  0.951
4  浙江区  0.951
5  浙江区  0.951
6  浙江区  0.951

In [9]:
cloumn=["所属大区","亏损额≥200万数量","亏损额≥200万金额","100万≤亏损额＜200万数量","100万≤亏损额＜200万金额","50万≤亏损额＜100万数量",
         "50万≤亏损额＜100万金额","10≤亏损额＜50数量","10≤亏损额＜50金额","亏损额＜10万数量","亏损额＜10万金额"]
value22=pd.DataFrame(columns=cloumn)
value22

Empty DataFrame
Columns: [所属大区, 亏损额≥200万数量, 亏损额≥200万金额, 100万≤亏损额＜200万数量, 100万≤亏损额＜200万金额, 50万≤亏损额＜100万数量, 50万≤亏损额＜100万金额, 10≤亏损额＜50数量, 10≤亏损额＜50金额, 亏损额＜10万数量, 亏损额＜10万金额]
Index: []

In [10]:
for i in range(len(value11)):
    value22.loc[i,"所属大区"]=value11.loc[i,"所属大区"]
    val=value11.loc[i,"亏损金额"]
    if val>=200:
        value22.loc[i,"亏损额≥200万数量"]=1
        value22.loc[i,"亏损额≥200万金额"]=val
    elif val>=100 and val<200:
        value22.loc[i,"100万≤亏损额＜200万数量"]=1
        value22.loc[i,"100万≤亏损额＜200万金额"]=val
    elif val>=50 and val<100:
        value22.loc[i,"50万≤亏损额＜100万数量"]=1
        value22.loc[i,"50万≤亏损额＜100万金额"]=val
    elif val>=10 and val<50:
        value22.loc[i,"10≤亏损额＜50万数量"]=1
        value22.loc[i,"10≤亏损额＜50万金额"]=val
    else:
        value22.loc[i,"亏损额＜10万数量"]=1
        value22.loc[i,"亏损额＜10万金额"]=val
value22

,所属大区,亏损额≥200万数量,亏损额≥200万金额,100万≤亏损额＜200万数量,100万≤亏损额＜200万金额,50万≤亏损额＜100万数量,50万≤亏损额＜100万金额,10≤亏损额＜50数量,10≤亏损额＜50金额,亏损额＜10万数量,亏损额＜10万金额
0,江苏区,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.951
1,江苏区,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.951
2,江苏区,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.951
3,浙江区,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.951
4,浙江区,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.951
5,浙江区,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.951
6,浙江区,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.951

In [11]:
#按所属大区的组合并   相同大区合在一起
value33=value22.groupby(value22["所属大区"]).sum() 
value33

,亏损额≥200万数量,亏损额≥200万金额,100万≤亏损额＜200万数量,100万≤亏损额＜200万金额,50万≤亏损额＜100万数量,50万≤亏损额＜100万金额,10≤亏损额＜50数量,10≤亏损额＜50金额,亏损额＜10万数量,亏损额＜10万金额
所属大区,,,,,,,,,,
江苏区,0,0,0,0,0,0,0,0,3,2.853
浙江区,0,0,0,0,0,0,0,0,4,3.804

In [12]:
#增加"累计亏损数量","累计亏损金额"两列，将所在行数量、金额的值分别求和
value33["累计亏损数量"] = value33[['亏损额≥200万数量','100万≤亏损额＜200万数量','50万≤亏损额＜100万数量','10≤亏损额＜50数量','亏损额＜10万数量']].sum(axis =1)
value33["累计亏损金额"] = value33[['亏损额≥200万金额','100万≤亏损额＜200万金额','50万≤亏损额＜100万金额','10≤亏损额＜50金额','亏损额＜10万金额']].sum(axis =1)
value33

,亏损额≥200万数量,亏损额≥200万金额,100万≤亏损额＜200万数量,100万≤亏损额＜200万金额,50万≤亏损额＜100万数量,50万≤亏损额＜100万金额,10≤亏损额＜50数量,10≤亏损额＜50金额,亏损额＜10万数量,亏损额＜10万金额,累计亏损数量,累计亏损金额
所属大区,,,,,,,,,,,,
江苏区,0,0,0,0,0,0,0,0,3,2.853,3,2.853
浙江区,0,0,0,0,0,0,0,0,4,3.804,4,3.804

In [13]:
#增加总计一行，将所有一列的值求和
value33.loc["总计"] = value33[['亏损额≥200万数量','亏损额≥200万金额','100万≤亏损额＜200万数量','100万≤亏损额＜200万金额','50万≤亏损额＜100万数量',
'50万≤亏损额＜100万金额','10≤亏损额＜50数量','10≤亏损额＜50金额','亏损额＜10万数量','亏损额＜10万金额',"累计亏损数量","累计亏损金额"]].sum(axis =0)
value33

,亏损额≥200万数量,亏损额≥200万金额,100万≤亏损额＜200万数量,100万≤亏损额＜200万金额,50万≤亏损额＜100万数量,50万≤亏损额＜100万金额,10≤亏损额＜50数量,10≤亏损额＜50金额,亏损额＜10万数量,亏损额＜10万金额,累计亏损数量,累计亏损金额
所属大区,,,,,,,,,,,,
江苏区,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.853,3.0,2.853
浙江区,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,3.804,4.0,3.804
总计,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,6.657,7.0,6.657

In [14]:
#增加序号一列，并且保存
df1 = value33.reset_index()
df1.index=df1.index+1
df1.index.name="序号"
df1
df1.to_excel("./data/亏损分段统计.xlsx")